
.comments-container {
    margin-top:1rem;
}

.comment {
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 6px;
    background-color: white;
    max-width: 600px;
}

.comment .author {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.comment .date {
    color: #555;
    text-align: right;
    display: block;
}

.comment form{ 
    text-align: right;
}

.comment form textarea{
    display: inline-block;
    width: 100%;
}